body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

.container {
    margin: 30px;
}

.items {
    margin-bottom: 40px;
}

.pics {
    padding: 20px;
}

ul{
    font-weight: bold;
}

.pics img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

h2 {
    color: #333;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

