html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;  
}

body {
  display: flex;
  flex-direction: column;
  height: 100%; 
  background-color: #f8f9fa;
}

#root {
  width: 100% !important; 
  height: 100% !important;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000; 
  display: block; 
}
.brand-logo {
  border-right: 2px solid rgb(207, 208, 209);
  padding-right: 15px;
  margin-right: 15px;
}

.navbar .container-fluid {
  width: 100% !important;
  padding-left: 0;    
  padding-right: 0; 
}

.loc-modal h6 {
  margin-left: 0px;
}
.icons{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.searchbar{
 position: relative;
 left: 30px;
}
.both-loc{
  display: flex;
  flex-direction: row;
  margin-left: -30px;
}
.float{
  display: flex;
  flex-direction: row;
  float: right;
}

.carousel-item {
  display: flex;
  justify-content: flex-start;
  overflow: hidden; 
  padding: 0 10px; 
}

.carousel-image {
  width: 33%; 
  height: auto; 
  object-fit: contain;
  margin-right: 15px;
}
.locc{
  position: relative;
  left: -100px;
  display: flex;
  flex-direction: row;
}

.navbar-nav .nav-item {
  position: relative;
  
}
.bg-body-tertiary{
  border-bottom:1px solid rgb(207, 208, 209);
}
.images{
  width: 25px;
  height: 25px;
  
}

.category-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto; 
}

.category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px; 
}

.category-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 5px; 
}

.category-item span {
  font-size: 12px;
}







