
@media (max-width: 1024px) {
    body {
      margin: 0;
      display: flex;
      min-width: 410px;
      min-height: 100vh;
      overflow-x: hidden;
      
    }
    .allDivs {
      flex-direction: column;
      left: 0;
    }
    .container-1,
    .container-2,
    .container-3,
    .container-4,
    .container-5,
    .container-6,
    .container-7,
    .container-8,
    .container-9,
    .container-10,
    .container-11 {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .container-1{
      height: 200px;
    }
    .container-2{
      height: 300px;
    }
    .container-3{
      height: 150px;
    }
    .container-5-6 {
      flex-direction: column;
      align-items: center;
    }
    .container-5,
    .container-6{
      height: 230px;
    }
    .container-5{
      margin-bottom: 20px;
    }
    .container-7{
      height: 700px;
    }
    .container-8{
        height: 165px;
    }
    .container-10{
        height: 240px;
        margin-bottom: 20px;
    }
    .container-11{
        height: 240px;
    }
    .tour-trip {
      flex-direction: column;
      align-items: center;
    }
    .first-row {
      flex-direction: column;
      align-items: center;
    }
    .dashboard,
    .profile-size,
    .total,
    .total-revenue {
      text-align: center;
    }
    .profiles {
      position: relative;
      left: 0;
      margin-top: 10px;
      justify-content: center;
    }
    .letsStart{
      position: relative;
      top: 10px;
      left: 10px;
    }
    .letsStart-div {
      width: 120px;
      height: 45px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 20px;
      left: 90px;
    }
    .dollar{
      position: relative;
      left: 20px;
      top: 35px;
    }
    .total{
      position: relative;
      left: 15px;
    }
    .total-revenue{
      position: relative;
      left: 15px;
    }
    .progress{
      position: relative;
      left: 120px;
    }
    .tour-trip{
      position: relative;
      left: 10px;
      display: flex;
      flex-direction: row;
    }
    .transport{
      position: relative;
      left: 30px;
    }
    .first, .second, .third, .fourth, .fifth, .sixth{
        position: relative;
        left: 0;
        margin: 5px;
    }
    .paint-logo{
        position: relative;
        right: 10px;
    }
    .client-details{
        position: relative;
        right: 45px;
    }
    .profile-logo{
        position: relative;
        left: 250px;
        top: 10px;
    }
    .profile-logos{
        position: relative;
        right: 30px;
        top: 5px;
    }
    .send-button{
        position: relative;
        left: 240px;
        bottom: 20px;
    }
  }